

title{
    display: none;
}

*{
    font-family:"Montserrat";
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

header{
    position:fixed;
    background-color: black;
    left: 0rem;
    right: 0rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    z-index: 10;
}

.menuHeader{
    display: none;
}

header img{
    position: absolute;
    left: 2rem;
    top: 2.6rem;
    cursor:pointer;
}

.title{
    display: block;
}

.title h1{
    padding-right: 2.5rem;
}

.title h3{
    padding-left: 6rem;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #16181C;
    color:white;
}

h1{
    font-size: 2.5rem;
    font-weight: 600;
}

h3{
    font-size: 1.7rem;
    font-weight:400; 
}

.startingSection{
    background-color: black;
    padding-top: 10rem;
    display: block;
    padding-right: 0;

}

.textOrganizer{
    padding-bottom: 1.3rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.startingSection > .textOrganizer{
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.startingSection > .textOrganizer h1
{
    background-color: black;
    font-size: 2.5rem;

}
.textOrganizer > h1{
    background-color: #16181C;
    display: inline-block;
    font-size: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

hr{ 
    border-radius: 10rem;
    border-top: 0rem solid white;
    margin-top: -1.3rem;
    margin-right: 3rem;
    margin-left: 5rem;
}


.menuMobile{
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    display: flex;
}

.buttonMobile{
    background-color: #7856FF;
    color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 1rem;
    text-decoration: none;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.categoryTitle{
    text-align: center;
    background-color: #7856FF;
    font-size: 2rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    position:sticky;
    top: 8rem;
}

.galery{
    display: flex;
    margin-right: 2rem;
    margin-left: 2rem;
    
}

.bgSquare{
    border-radius: 1.7rem;
    position:absolute;
    z-index: -10;
    margin-top: 1rem;
}

.bgRectangle{
    position:absolute;
    z-index: -10;
    margin-top: 1rem;
}

.image{
    margin-right: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.mainImg{
    border-radius: 1.7rem;
    margin-left: 1rem;
    cursor: pointer;
}

.mainVideo{
    margin-left: 2rem;
    margin-bottom: 1rem;

}

p{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer{
    background-color: #7856FF;
    border-top-left-radius: 1.7rem;
    border-top-right-radius: 1.7rem;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: left;
}

.contact{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.contact > *{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.contact > h1{
    font-size: 1.7rem;
    font-weight: 600;
}

.contact > h3{
    font-size: 1.2rem;
    font-weight: 400;
}

.buttonDark{
    background-color: #2D2535;
    color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    text-decoration: none;
    margin-left: 1.2rem;
    margin-right: 1.2rem;

    cursor: pointer;

    position: absolute;
    top: 3rem;
    right: 2rem;
}

.roundedBio{
    background-color: #523EA9;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

.mainBio{
    display: table;
}

.mainBio img{
    width: 11.4rem;
    height: 15.8rem;
    border-radius: 3.5rem;
    margin-top: 2rem;
    margin: 2rem;
}

td{
    display: block;
    text-align: center;
    width: 100%;
}

.mainBio p {
    margin: 1rem;
    margin-right: 2rem;
    font-size: 1.4rem;
}

.infoBlock{
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.infoSection{
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 12rem;
    margin-top: 1rem;
}

.infoBlock > ol{
    list-style-type: none;
}

.infoBlock > h2{
    font-size: 2rem;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    margin-top: 5rem;
}

.infoBlock p{
   margin-left: 2rem;
   text-align: left;
   font-size: 1.4rem;
   padding-bottom: 1.5rem;
   margin-block-end: 0rem;
   margin-block-start: 0rem;
}